.LanguageSelector {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
}

.LanguageSelector:hover {
  opacity: 0.8;
}
